.hero {
   background: var(--backgroundLinearGraident);
   min-height: 100vh;
   display: flex; 
   align-items: center;
   padding-left: 10vh;
}
.heroImageWrapper{
    flex: 50%;
    margin-left: 10rem;
    overflow: show;
}
.heroImage{ 
    border-radius: 10vh;
}
.heroContent{
    flex: 75%;
}
.heroName{ 
    font: bold 5em times;
}
.heroDescription{ 
    font: 1em sans-serif;
}